<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <rewrite>
            <rules>
                <rule name="Rewrite to folder1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.webdad3.com$" />
                    </conditions>
                    <action type="Rewrite" url="/{R:1}" />
                </rule>
                <rule name="Rewrite to folder2" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^www.vaccarotech.net$" />
                    </conditions>
                    <action type="Rewrite" url="/VaccaroTech/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>